#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
main{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-top: 60px;
}

footer{
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 1rem;
  background-color: #c6c6c6;
}

.img-banner{
  height: auto;
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
}

 /* CONTAINER */
.banner-container{
  display: flex;
  justify-content: center;
  height: 500px;
  object-fit: cover;
}
.banner{
  max-height: 500px;
  width: auto;
}
.row-container{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}
.row-text-content{
  padding: 1.7rem;
  color: #000;
}

.align-center{
  text-align: center;
  margin: 1.5rem 0;
}

/* Navigation */
.social{
  display: flex;
}

/* PROFILE */
.profile-container{
  display: flex;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar-img{
  border: 7px solid white;
}

/* BANNER */
.profile-background{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #93a6a7;
  color: white;
  padding: 2.5rem;
}
.hello-text{
  display: flex;
  justify-content: left;
  font-size: 3rem;
  text-align: left;
}

/* CARDS */
.projects-container{
  margin: 1rem 0;
}
.cards-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image-position{
  object-fit: cover;
  object-position: 0% 0%;
}
.card{
  margin: 1rem;
}